* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: #fff;
}

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#banner {
    font-size: 7vh;
}

#clock {
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 2vw;
    border-radius: 25px;
}

@media screen and (max-width: 700px) {
    #banner {
        font-size: 5vh;
        margin-bottom: 3vh;
    }
    #clock {
        font-size: 5vh;
    }
}